<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Produkty</title>
</head>
<body>
<h1>Opcje:</h1>
<div>
    <a href="/list">Wyświetl wszystkie produkty</a>
</div>
<div th:each="category: ${T(com.example.zadanie21.Category).values()}">
    <a th:href="@{|/list?category=${category}|}"
       th:text="|Wyświetl produkty z kategorii ${category.getDescriptionPl()}|">wyświetl produkty z kategorii art.
        spożywcze</a>
</div>
<h2>Dodaj produkt:</h2>
<form method="post" action="/add">
    <div>
        <label for="name">Nazwa</label>
        <div><input id="name" name="name"></div>
    </div>
    <div>
        <label for="price">Cena</label>
        <div><input type="number" id="price" step="any" name="price"></div>
    </div>
    <div>
        <label for="category">Kategoria</label>
        <div>
            <select id="category" name="category">
                <option th:each="category: ${T(com.example.zadanie21.Category).values()}"
                        th:value="${category.name}"
                        th:text="${category.getDescriptionPl()}"></option>
            </select>
        </div>
    </div>
    <button type="submit">Dodaj</button>
</form>
</body>
</html>